.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    // orig: width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

th {
  background-color: #53c0e5;
}

.main {
  @include mq(md) {
    position: relative;
    max-width: 100%;
    margin-left: 264px;
  }

  @include mq(lg) {
    position: relative;
    max-width: 100%;
    margin-left: 264px;
  }
}
