.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    // orig: width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

th {
  background-color: #53c0e5;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.main {
  @include mq(md) {
    position: relative;
    max-width: 100%;
    margin-left: 264px;
  }

  @include mq(lg) {
    position: relative;
    max-width: 100%;
    margin-left: 264px;
  }
}

p.warning, blockquote.warning {
  background: rgba(247,126,126,0.2);
  border-left: 4px solid #dd2e2e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12),0 3px 10px rgba(0,0,0,0.08);
  padding: .8rem;
}
